@import '_text';
@import '_theme';

$icon-font-path: '../fonts/';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  margin: 0;

  color: white;
  background: $color-main;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-right: 15px;
  padding-left: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

header {
  background: linear-gradient(rgba(13, 32, 41, 0.5), rgba(28, 78, 103, 0.2)), url('../images/bg3.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-main;
  padding-left: 50px;

  .title {
    margin-bottom: 0;
  }
  .subtext {
    margin-top: 0;
  }
}

section {
  padding: 1em;
  border-width: 1px 0;
  border-color: black;
  border-style: solid;
}

.columns-2 {
  display: flex;
  justify-content: center;

  > div {
    max-width: 375px;
  }
  .left {
    text-align: right;
    margin-right: 20px;
  }

  .right {
    text-align: left;
    margin-left: 20px;
  }
}

.tabs {
  background: $color-accent-2;
  padding: 5px;

  ul {
    margin: 0 auto;
    width: 300px;
  }

  li {
    display: inline-block;

    a {
      padding: 10px 20px;
      display: block;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border 0.4s;

      &:hover, &.active {
        border-bottom: 1px solid black;
      }
    }
  }
}

.tabs-content {
  background: $green;
  min-height: 200px;

  padding: 20px;
  > div {
    display: flex;
    position: absolute;

    //display: none;
    &.active {
      //display: flex;
    }
  }
}

.person {
  text-align: center;
  width: 200px;
  opacity: 0;
  transform: translateX(80px);
  transition: all 0.6s ease-out;

  &.enter {
    transform: translateX(0);
    opacity: 1;
  }

  &.exit {
    //transform: translateX(-100px);
    opacity: 0;
  }

  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

}

ul {
  list-style: none;
}

.registries {
  text-align: center;
  img {
    height: 100px;
    width: auto;

    transition: all 0.3s;
    &:hover {
      height: 110px;


      + .caption {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: auto;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(30px);
  }

  .row {
    margin-bottom: 20px;
  }

  .column {
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 1.5s ease-in-out;

    &.enter {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

section:nth-child(odd) {
  background: linear-gradient(rgba(13, 32, 41, 0.95), rgba(28, 78, 103, .8)), url('../images/winter-lake.jpg');
  background-size: cover;
  background-position: center;
}

section:nth-child(even) {
  background: $color-accent-2;
  color: $color-main;
}

.st-benedict {
  background: url('../images/st-benedict.jpg');
  background-size: cover;
  border-radius: 50%;
  //margin: 0 auto;
  margin-left: auto;
  margin-right: 0;
  height: 200px;
  width: 200px;
}

.alta-veranda {
  background: url('../images/alta-veranda.jpg');
  background-size: cover;
  border-radius: 50%;
  //margin: 0 auto;
  margin-left: 0;
  margin-right: auto;
  height: 200px;
  width: 200px;
}

#event {
  iframe {
    border: 1px #BBB solid;
    height: 400px;
    width: 100%;
  }
}

#accommodations {
  img {
    height: 150px;
    width: auto;
  }
}

section {
  .header {
    text-align: center
  }
  .subtext {
    text-align: center;
  }
}


footer {
  height: 1000px;
}
